/**
 * Explicitly set width of TW menu so that we can use a hidden peer gadget
 * to add space where the AFCH menu would go before it loads.
 * from https://github.com/Xi-Plus/twinkle/blob/1713cfd7d9ea5ca4eda018f4f7de89224437a7a3/twinkle.css
 */
.skin-vector #p-afch {
	width: 3.24em;
}

/* The additional box on user skin.js and twinklepreferences.js pages */
#afch-config-headerbox {
	border: 1px #f60 solid;
	background: #fed;
	padding: 0.6em;
	margin: 0.5em auto;
	text-align: center;
}

/* twinkleoptions.js */
#afch-config-headerbox.config-twopt-box {
	font-weight: bold;
	width: 80%;
	border-width: 2px;
}

/* skin-specific js */
#afch-config-headerbox.config-userskin-box {
	width: 60%;
}
